version: "3.9"

services:
  jenkins:
    image: jenkins/jenkins:lts
    container_name: jenkins
    ports:
      - "8080:8080"
      - "50000:50000"
    volumes:
      - ./jenkins_home:/var/jenkins_home
      - /var/run/docker.sock:/var/run/docker.sock
    restart: always

  registry:
    image: registry:2
    container_name: local_registry
    ports:
      - "5000:5000"
    restart: always

networks:
  default:
    name: devops_network
    external: true

